html {
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  justify-content: start;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;  
}

.blueTopSection {
  background-color: rgb(20, 140, 238);
  height: 60px;
  margin: 0px;
  padding: 0px;
}

/*Top Header Section*/
.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myBookShelf {
  margin-right: 10%;
  padding-left: 8px;
}

.categoryAndButtonDiv {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding-right: 10.2%;
}

.headingTitle {
  display: flex;
  width: 200px;
  flex-direction: row;
  justify-content: left;
  padding-right: 200px;
}

.headingRating {
  margin-left: 16.4%;
}

.headingAuthor {  
  margin-left: 13.8%;
}

.headingYear {  
  margin-left: 16%;
}

#bookshelfHeaderContainer {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
}

#bookshelfContainer {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
}

/* bookshelf section */
.row {
  align-items: center;
  justify-content: space-evenly;
  background-color:rgb(235, 245, 249);
  padding: 10px 0px 10px 0px;
  margin-bottom: 15px;
  z-index: 1;
}

/* header section */
.flex-row {
  padding: 10px 5px 10px 0px;
  z-index: 0;
}

/* NEW bookshelf area*/
.flex-table-head {
  display: flex;
  width: 100%;
  gap: 10%; 
}

/* NEW bookshelf area*/
.flex-table {
  display: flex;
  width: 100%;
  gap: 10%; 
}

.bookshelfButtons {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#category-input {
  width: 155px;
  border-radius: 15px;
  border-width: 1px;
  background-color: white;
}

#category-button {
  width: 155px;
  border-radius: 15px;
  border-width: 1px;
  border-color: lightgray;
  background-color: white;
  font-weight: 100;
  height: 25px;
}

#categoryInputAndListDiv {
  display: flex;
  overflow: auto;

}

#categoryListSection {
  margin-top: 25px;
  font-size: 13px;
  width: 17%;
  height: auto;
  background-color: rgb(254, 255, 255);
  border: 2px lightgrey solid;
  border-radius: 5px;
  z-index: 2;
  padding: 5px;
  position: absolute;
  overflow: auto;
}

.categoryHidden {
  display: none;
}

div.categoryNotHidden {
  display: block;
}

.catLi {
  cursor: pointer;
  list-style: none;
  padding-top: 10px;
  padding-left: 0px;  
}

#addBookButtonModal {
  height: 25%;
  word-wrap: normal;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  background-color: rgb(20, 140, 238);
  border-color: rgb(20, 140, 238);
  border-radius: 10%;
}

#bookCategoryContainer {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.imgTitle {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.bookImage {
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 60px;
  padding-left: 12px;
}

.bookTitle {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  padding-left: 35px;
  padding-right: 60px;
  width: 200px;
  word-wrap: break-word;
}

.ratings {
  padding-right: 128px;  
}

.category {
  padding-left: 10px;
  width: 12%;
  word-wrap: break-word;
  width: 10%;
}

.author {
  padding-left: 12px;
  word-wrap: break-word;
  width: 10%;
}

.seeMoreBtn {
  margin-bottom: 5px;
  background-color: rgb(20, 140, 238);
  color: white;
  border-color: rgb(20, 140, 238);
  white-space: nowrap;
  border-radius: 10%; 
}

.removeBtn {
  margin-top: 5px;
  background-color: white;
  color: rgb(20, 140, 238);
  border-color: rgb(20, 140, 238);
  padding: 0px 10px 0px 10px;
  border-radius: 10%;
}

.addBookModalForm {
  position: fixed;
  top: 0%;
  left: 40%;
  transform: translate(-70, -30%);
  display: flex;
  z-index: 999;
  flex-direction: column;
  justify-content: space-around;
  margin: 8% auto;
  border: 1.5px solid rgba(211, 211, 211, 0.517);
  width: 300px;
  height: 400px;
  padding: 20px;
  box-shadow: 5px 8px 5px lightgrey;
  /* transparency set to not be see through */
  background-color:rgb(255, 255, 255)
}

.hidden {
  display: none;
}

div.none {
  display: block;
}

#btnCloseModal {
  margin-left: 95%;
  font-size: 15px;
  padding: 0;
  border: 0;
  background: none;
  width: 10px;
}

.innerModalSection {
  background-color: rgb(235, 245, 249);
  width: 280px;
  height: 280px;
  padding: 10px;
}

.book-form-title,
.book-form-rating {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* title search */
#title-input {
  border-radius: 10px;
  border-color: lightgray;
  width: 80%;
  height: 8%;
  margin-top: 8px;
}

.modalSearchBtn {
  width: 60px;
  height: 20px;
  margin-left: 10px;
  background-color: rgb(20, 140, 238);
  color: white;
  border: none;
  border-radius: 10%;
  z-index: 0; 
}

.searchHidden {
  display: none;
}

#searchResults {
  width: 30%;
  height: 200px;
  background-color: white;
  border: 2px lightgrey solid;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 1;
  padding: 5px;
  position: fixed;
  overflow: auto;
}

ul {
  Padding-left: 10px;
}

#searchList li {
  cursor: pointer;
  list-style: none;
  padding-top: 10px;
  padding-left: 0px;
}

.selected {
  background: rgb(98, 149, 250);
}

.selectedCategory {
  background: rgb(98, 149, 250);
}

/* rating entry */
#rating-input {
  border-radius: 5px;
  border-color: lightgray;
  width: 25%;
  height: 10%;
  margin-top: 8px;
}

#modalButton {
  width: 60px;
  height: 20px;
  margin-top: 18px;
  margin-left: 70%;
  background-color: rgb(20, 140, 238);
  color: white;
  border: none;
  border-radius: 10%;
}

/* LOADING SPINNER */
.loadSpinner {
  display: inline-block;
  padding-left: 10px; 
}

#loadingSpinner {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid rgba(11, 11, 250, 0.621);
  border-bottom: 5px solid rgba(11, 11, 250, 0.621);
  width: 10px;
  height: 10px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

/* SORT ARROWS */
a,
a { 
	width: 15%;
}
a.sort-by { 
	padding-right: 5px;
	position: relative;
}
a.sort-by:before,
a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	height: 0;
	top: 50%;
	position: absolute;
	width: 0;
  margin-left: 5px;
}
a.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
a.sort-by:after {
	border-top-color: #b2abab;
	margin-top: 1px;
}

#seeMoreContainer {
  margin-top: 25px;
  font-size: 13px;
  width: 17%;
  height: auto;
  background-color: rgb(254, 255, 255);
  border: 2px lightgrey solid;
  border-radius: 5px;
  z-index: 2;
  padding: 5px;
  position: absolute;
  overflow: auto;
  overflow-y: auto;
  max-height: 400px;
}

.seeMoreData{
  margin: 0px 10px 10px 10px;
}

#btnCloseSeeMore {
  margin-left: 95%;
  font-size: 15px;
  padding: 0;
  border: 0;
  background: none;
  width: 10px;
}

.seeMoreHidden {
  display: none;
}

div.seeMoreNotHidden {
  display: block;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (min-width: 2560px) and (max-width: 3000px) {
  .categoryAndButtonDiv {
    padding-right: 3.9%;
  }
  
  .headingTitle {
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: left;
    margin-left: 6.5%;
    padding-right: 135px;
  }
  
  .headingRating {
    margin-left: 2.8%;
  }
  
  .headingAuthor {    margin-left: 7.6%;
  }
  
  .headingYear {    margin-left: 12%;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .categoryAndButtonDiv {
    padding-right: 8.1%;
  }
  
  .headingTitle {
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-content: left;
    margin-left: 11.5%;
    padding-right: 215px;
  }
  
  .headingRating {
    margin-left: 2.8%;
  }
  
  .headingAuthor {    
    margin-left: 13.7%;
  }
  
  .headingYear {    
    margin-left: 16%;
  }

  .flex-table-head {
    display: flex;
    width: 100%;
    gap: 1%; 
  }

  .flex-table {
    display: flex;
    width: 100%;
    gap: 2%;
  }
}


@media (min-width: 1440px) and (max-width: 1919px) {
  .categoryAndButtonDiv {
    padding-right: 6.7%;
  }
  
  .headingTitle {
    display: flex;
    width: 200px;
    height: 20px;
    flex-direction: row;
    justify-content: left;
    margin-left: 10.5%;
    padding-right: 35px;
  }
  
  .headingRating {  
    margin-left: 12%;
  }
  
  .headingAuthor { 
    margin-left: 13.4%;
  }
  
  .headingYear {    
    margin-left: 13.1%;
  }

  .flex-table-head {
    display: flex; 
    width: 100%;
    gap: 1%; 
  }

  .flex-table {
    display: flex;
    width: 100%;
    gap: 2%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .categoryAndButtonDiv {
    padding-right: 5.4%;
  }
  
  .headingTitle {
    display: flex;
    width: 200px;
    height: 20px;
    flex-direction: row;
    justify-content: left;
    margin-left: 9.7%;
  }
  
  .headingRating {
    margin-left: 2.3%;
  }
  
  .headingAuthor {    
    margin-left: 9.4%;
  }
  
  .headingYear {    
    margin-left: 15%;
  }

  .flex-table-head {
    width: 100%;
    gap: 1%; 
  }

  .flex-table {
    width: 100%;
  }

  div.imgTitle {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .bookImage {
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 60px;
    padding-left: 5px;
    margin-left: 25px;
  }

  .bookTitle {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 60px;
  }

  .ratings {
    padding-right: 30px;  
  }

  .category {
    padding-left: 10px;
    width: 12%;
  }

  .author {
    padding-left: 12px;
  }

  .seeMoreBtn {
    margin-bottom: 5px;
    background-color: rgb(20, 140, 238);
    color: white;
    border-color: rgb(20, 140, 238);
    white-space: nowrap;
    border-radius: 10%; 
    margin-right: 20px;
  }

  .removeBtn {
    margin-top: 5px;
    background-color: white;
    color: rgb(20, 140, 238);
    border-color: rgb(20, 140, 238);
    padding: 0px 10px 0px 10px;
    border-radius: 10%;
    margin-right:20px;
  }
  #seeMoreContainer {
    width: 27%;
    height: auto;
    overflow-y: auto;
    max-height: 400px;
  }
}

/*Good*/
 @media (min-width: 768px) and (max-width: 1023px) {
  .addBookModalForm {
    position: fixed;
    top: 0%;
    left: 30%;
    transform: translate(-70, -30%);
  }

  .categoryAndButtonDiv {
    padding-right: 7.5%;
  }

  .flex-row {
    padding: 10px 0px 10px 0px;
    z-index: 0;
  }

  .headingTitle {
    display: flex;
    width: 10%;
    height: 20px;
    flex-direction: row;
    justify-content: left;
    padding-right: 10%;
    margin-left: 10.5%;
  }
  
  .headingRating {
    margin-left: 6%;
  }
  
  .headingAuthor {    
    margin-left: 9.4%;
  }
  
  .headingYear {    
    margin-left: 9.2%;
    flex-direction: row;
    justify-content: center;
    width: 10%;
  }

  .flex-table-head {
    display: flex;
    width: 100%;
    gap: 2px;; 
  }

  .flex-table {
    display: flex;
    width: 100%;
    gap: 0px;
  }

  div.imgTitle {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .bookImage {
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 60px;
    padding-left: 5px;
  }

  .bookTitle {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 60px;
  }

  .ratings {
    padding-right: 30px;  
  }

  .category {
    padding-left: 10px;
    width: 12%;
  }

  .author {
    padding-left: 12px;
  }

  .seeMoreBtn {
    margin-bottom: 5px;
    background-color: rgb(20, 140, 238);
    color: white;
    border-color: rgb(20, 140, 238);
    white-space: nowrap;
    border-radius: 10%; 
  }

  .removeBtn {
    margin-top: 5px;
    background-color: white;
    color: rgb(20, 140, 238);
    border-color: rgb(20, 140, 238);
    padding: 0px 10px 0px 10px;
    border-radius: 10%;
  }

  #seeMoreContainer {
    position: fixed;
    top: 20%;
    left: 30%;
    transform: translate(-70, -30%);
    width: 47%;
    z-index: 2;
    overflow-y: auto;
    max-height: 400px;
  }
}

/*Good*/
@media (min-width: 425px) and (max-width: 767px) { 
  #searchResults {
    width: 70%;
  }

  .addBookModalForm {
    position: fixed;
    top: 0%;
    left: 2%;
    transform: translate(-70, -30%);
    width: 80%;
  }

  .innerModalSection {
    background-color: rgb(235, 245, 249);
    width: 280px;
    height: 280px;
    padding: 10px;
  }

  .addBookModalForm {
    position: fixed;
    top: 0%;
    left: 5%;
    transform: translate(-70, -30%);
  }

  .headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .myBookShelf {
    margin-right: 4.5%;
  }

  .categoryAndButtonDiv {
    padding-right: 5.5%;
  }

  .flex-row {
    padding: 10px 0px 10px 0px;
    z-index: 0;
  }

  .headingTitle {
    display: flex;
    width: 10%;
    height: 20px;
    margin-left: 12.4%;
    flex-direction: row;
    justify-content: left;
    padding-right: 6%;
  }
  
  .headingRating {
    margin-left: 5%;
    padding-right: 10px;
  }
  
  .headingAuthor {    
    margin-left: 7.5%;
  }

  .headingYear {    
    margin-left: 13%;
    font-size: 15px;
    width: 15%;
    flex-direction: row;
    justify-content: center;
    
  }

  .flex-table-head {
    display: flex;
    width: 120%;
    gap: 0; 
  }

  .flex-table {
    display: flex;
    width: 110%;
    gap: 0;
  }

  /* Make the two buttons wrap */
  .flex-table.row {
    flex-wrap: wrap;
  }

  div.imgTitle {
    display: flex;
    flex-direction: column-reverse;
    justify-content: left;
    align-items: center;
  }

  .bookImage {
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 60px;
    padding-left: 0px;
  }

  .bookTitle {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    padding-left: 0px;
    padding-right: 10px;
    width: 30px;
    font-size: 14px;
  }

  .ratings {
    width: 20px;
    padding-left: 28px;
    padding-right: 20px; 
    font-size: 14px; 
  }

  .category {
    padding-left: 3px;
    width: 20%;
    overflow-y: auto;
    max-height: 150px;
    font-size: 14px;
  }

  .author {
    padding-left: 5px;
    padding-right: 5px;
    word-wrap: normal;
    width: 75px;
    overflow-y: auto;
    max-height: 150px;
    font-size: 14px;
  }

   .bookshelfButtons {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-left: 8px;
    padding-top: 0px;
  }

  .seeMoreBtn {
    margin-bottom: 5px;
    background-color: rgb(20, 140, 238);
    color: white;
    border-color: rgb(20, 140, 238);
    white-space: nowrap;
    border-radius: 10%;
    word-wrap: normal;
    padding: 0px 2px 0px 2px;
    margin: 0px 5px 0px 0px;
  }

  .removeBtn {
    margin-top: 5px;
    background-color: white;
    color: rgb(20, 140, 238);
    border-color: rgb(20, 140, 238);
    padding: 0px 6px 0px 6px;
    border-radius: 10%;
    margin-left: 5px;
    
  }

  #seeMoreContainer {
    position: fixed;
    top: 20%;
    left: 10%;
    transform: translate(-70, -30%);
    width: 77%;
    z-index: 2;
    overflow-y: auto;
    max-height: 400px;
  }
}

@media (min-width: 375px) and (max-width: 424px) { 
  #searchResults {
    width: 70%;
  }

  .addBookModalForm {
    position: fixed;
    top: 0%;
    left: 2%;
    transform: translate(-70, -30%);
    width: 80%;
  }

  .innerModalSection {
    background-color: rgb(235, 245, 249);
    width: 280px;
    height: 280px;
    padding: 10px;
  }

  .addBookModalForm {
    position: fixed;
    top: 0%;
    left: 5%;
    transform: translate(-70, -30%);
  }

  .headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .myBookShelf {
    margin-right: 4.5%;
  }

  .categoryAndButtonDiv {
    padding-right: 5.5%;
  }

  .flex-row {
    padding: 10px 0px 10px 0px;
    z-index: 0;
  }

  .headingTitle {
    display: flex;
    width: 10%;
    height: 20px;
    margin-left: 9.2%;
    flex-direction: row;
    justify-content: left;
    padding-right: 7%;
  }
  
  .headingRating {
    margin-left: 5%;
    padding-right: 10px;
  }
  
  .headingAuthor {    
    margin-left: 7.5%;
  }

  .headingYear {    
    margin-left: 13%;
    font-size: 15px;
    width: 15%;
    flex-direction: row;
    justify-content: center;
    
  }

  .flex-table-head {
    display: flex;
    width: 120%;
    gap: 0; 
  }

  .flex-table {
    display: flex;
    width: 120%;
    gap: 0;
  }

  /* Make the two buttons wrap */
  .flex-table.row {
    flex-wrap: wrap;
  }

  div.imgTitle {
    display: flex;
    flex-direction: column-reverse;
    justify-content: left;
    align-items: center;
  }

  .bookImage {
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 60px;
    padding-left: 0px;
  }

  .bookTitle {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    padding-left: 0px;
    padding-right: 10px;
    width: 30px;
    font-size: 14px;
  }

  .ratings {
    width: 20px;
    padding-left: 28px;
    padding-right: 20px; 
    font-size: 14px; 
  }

  .category {
    padding-left: 3px;
    width: 20%;
    overflow-y: auto;
    max-height: 150px;
    font-size: 14px;
  }

  .author {
    padding-left: 5px;
    padding-right: 5px;
    word-wrap: normal;
    width: 75px;
    overflow-y: auto;
    max-height: 150px;
    font-size: 14px;
  }

   .bookshelfButtons {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-left: 8px;
    padding-top: 0px;
  }

  .seeMoreBtn {
    margin-bottom: 5px;
    background-color: rgb(20, 140, 238);
    color: white;
    border-color: rgb(20, 140, 238);
    white-space: nowrap;
    border-radius: 10%;
    word-wrap: normal;
    padding: 0px 2px 0px 2px;
    margin: 0px 5px 0px 0px;
  }

  .removeBtn {
    margin-top: 5px;
    background-color: white;
    color: rgb(20, 140, 238);
    border-color: rgb(20, 140, 238);
    padding: 0px 6px 0px 6px;
    border-radius: 10%;
    margin-left: 5px;
    
  }

  #seeMoreContainer {
    position: fixed;
    top: 20%;
    left: 10%;
    transform: translate(-70, -30%);
    width: 77%;
    z-index: 2;
    overflow-y: auto;
    max-height: 400px;
  }
} 

@media (min-width: 320px) and (max-width: 374px) {
  #searchResults {
    width: 70%;
  }

  .addBookModalForm {
    position: fixed;
    top: 0%;
    left: 3%;
    transform: translate(-70, -30%);
    width: 80%;
  }

  .innerModalSection {
    background-color: rgb(235, 245, 249);
    width: 240px;
    height: 280px;
    padding: 10px;
  }
  
  .headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  #addBookButtonModal {
    margin-right: 0px;
  }

  .myBookShelf {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    padding-left: 0;
  }
  .categoryAndButtonDiv {
    padding-left: 35px;
  }

  .flex-row {
    padding: 10px 0px 10px 0px;
    z-index: 0;
  }

  .flex-table-head {
    width: 120%;
  }

  .headingTitle {
    display: flex;
    width: 60px;
    height: 20px;
    margin-left: 3%;
    font-size: 15px;
  }
  
  .headingRating {
    margin-left: 5%;
    padding-right: 10px;
    font-size: 15px;
  }
  
  .headingAuthor {    
    margin-left: 7.3%;
    font-size: 15px;
  }
  
  .headingYear {    
    margin-left: 11.9%;
    font-size: 15px;
    width: 15%;
    flex-direction: row;
    justify-content: center;
  }

  .flex-table-head {
    display: flex;
    width: 120%;
    gap: 0; 
  }

  .flex-table {
    display: flex;
    width: 120%;
    gap: 0;
  }

  /* Make the two buttons wrap */
  .flex-table.row {
    flex-wrap: wrap;
  }

  div.imgTitle {
    display: flex;
    flex-direction: column-reverse;
    justify-content: left;
    align-items: center;
  }

  .bookImage {
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 60px;
    padding-left: 0px;
  }

  .bookTitle {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    padding-left: 0px;
    padding-right: 10px;
    width: 30px;
    font-size: 14px;
  }

  .ratings {
    width: 20px;
    padding-left: 28px;
    padding-right: 20px; 
    font-size: 14px; 
  }

  .category {
    padding-left: 3px;
    width: 20%;
    overflow-y: auto;
    max-height: 150px;
    font-size: 14px;
  }

  .author {
    padding-left: 5px;
    padding-right: 5px;
    word-wrap: normal;
    width: 75px;
    overflow-y: auto;
    max-height: 150px;
    font-size: 14px;
  }

  .bookshelfButtons {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-left: 8px;
    padding-top: 0px;
  }

  .seeMoreBtn {
    margin-bottom: 5px;
    background-color: rgb(20, 140, 238);
    color: white;
    border-color: rgb(20, 140, 238);
    white-space: nowrap;
    border-radius: 10%;
    word-wrap: normal;
    padding: 0px 2px 0px 2px;
    margin: 0px 5px 0px 0px;
  }

  .removeBtn {
    margin-top: 5px;
    background-color: white;
    color: rgb(20, 140, 238);
    border-color: rgb(20, 140, 238);
    padding: 0px 6px 0px 6px;
    border-radius: 10%;
    margin-left: 5px;
    
  }

  #seeMoreContainer {
    position: fixed;
    top: 20%;
    left: 9%;
    transform: translate(-70, -30%);
    width: 77%;
    z-index: 2;
    overflow-y: auto;
    max-height: 400px;
  }
} 