header {
  margin-left: 5%;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5%;
}

.categoryAndButtonDiv {
  display: flex;
  flex-direction: row;
  width: 250px;
  align-items: center;
}

#category-input {
  width: 155px;
  border-radius: 15px;
  border-width: 1px;
  border-color: grey;
}

#categoryInputAndListDiv {
  display: flex;
  overflow: auto;

}

#categoryListSection {
  margin-top: 25px;
  font-size: 13px;
  width: 17%;
  height: auto;
  background-color: rgb(254, 255, 255);
  border: 2px lightgrey solid;
  border-radius: 5px;
  z-index: 2;
  padding: 5px;
  position: absolute;
  overflow: auto;
  /* display: hidden; */
  /* box-shadow: 5px 8px 5px lightgrey; */
}

.categoryHidden {
  display: none;
}
div.categoryNotHidden {
  display: block;
}

.catLi {
  cursor: pointer;
  list-style: none;
  padding-top: 10px;
  padding-left: 0px;  
}

#addBookButtonModal {
  width: 32%;
  height: 25%;
  word-wrap: normal;
  margin-left: 10px;
}
.header {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 90%;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-left: 5%;
}

.headingTitle {
  padding-left: 10%;
}

.headingRating {
  margin-left: 10%;
}

#bookshelfHeaderContainer {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bookShelfContainer {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color:rgb(235, 245, 249);
  width: 90%;
  padding: 10px 0px 10px 0px;
  margin-bottom: 15px;
  z-index: 1;
}

.flex-row {
  display: flex;
  /* padding-right: 10px; */
  padding: 10px 5px 10px 0px;
  z-index: 1;
}

div.imgTitle {
  display: inline-flex;
  justify-content: left;
  align-items: center;
}

.bookImage {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 60px;
  padding-left: 25px;
}

.bookTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

*.ratings {
  padding-left: 20px;
  width: 20%;
}

#seeMoreBtn {
  margin-bottom: 5px;
  background-color: rgb(63, 91, 247);
  color: white;
}

#removeBtn {
  margin-top: 5px;
  border-color:rgb(63, 91, 247);
  color: rgb(63, 91, 247);
  padding: 0px 10px 0px 10px;
}

.addBookModalForm {
  display: flex;
  position: fixed;
  left: 20%;
  right: 30%;
  bottom: 20%;
  z-index: 999;
  flex-direction: column;
  justify-content: space-around;
  margin: 8% auto;
  border: 1.5px solid rgba(211, 211, 211, 0.517);
  width: 300px;
  height: 400px;
  padding: 20px;
  box-shadow: 5px 8px 5px lightgrey;
  /* transparency set to not be see through */
  background-color:rgb(255, 255, 255)
}

.hidden {
  display: none;
}
div.none {
  display: block;
}

#btnCloseModal {
  margin-left: 95%;
  font-size: 15px;
  padding: 0;
  border: 0;
  background: none;
  width: 10px;
  
}

.innerModalSection {
  background-color: rgb(235, 245, 249);
  width: 280px;
  height: 280px;
  padding: 10px;
}

.book-form-title,
.book-form-rating {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}
/* title search */
#title-input {
  border-radius: 10px;
  border-color: lightgray;
  width: 80%;
  height: 8%;
  margin-top: 8px;

  /* display: inline; */
}

/* .searchField {
  display: inline;
} */

.modalSearchBtn {
  width: 60px;
  height: 20px;
  margin-left: 10px;
  background-color: rgb(63, 91, 247);
  color: white;
  border: none;
  border-radius: 10%;
  /* position: absolute; */
  z-index: 0; 
  /* display: inline;  */
}

.searchHidden {
  display: none;
}

#searchResults {
  width: 30%;
  height: 200px;
  background-color: white;
  border: 2px lightgrey solid;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 1;
  padding: 5px;
  position: fixed;
  overflow: auto;
  /* display: none; */
}


ul {
  Padding-left: 10px;
}

#searchList li {
  cursor: pointer;
  list-style: none;
  padding-top: 10px;
  padding-left: 0px;
}



.selected {
  background: rgb(98, 149, 250);
}


/* rating entry */
#rating-input {
  border-radius: 5px;
  border-color: lightgray;
  width: 25%;
  height: 10%;
  margin-top: 8px;

}

#modalButton {
  width: 60px;
  height: 20px;
  margin-top: 18px;
  margin-left: 70%;
  background-color: rgb(63, 91, 247);
  color: white;
  border: none;
  border-radius: 10%;
  /* position: absolute; */
  /* z-index: -1; */
}


/* LOADING SPINNER */
.loadSpinner {
  display: inline-block;
  padding-left: 10px;
  
}

#loadingSpinner {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid rgba(11, 11, 250, 0.621);
  border-bottom: 5px solid rgba(11, 11, 250, 0.621);
  width: 10px;
  height: 10px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

/* SORT ARROWS */
a,
a { 
	display: block;
	width: 15%;
}
a.sort-by { 
	padding-right: 5px;
	position: relative;
}
a.sort-by:before,
a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
a.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
a.sort-by:after {
	border-top-color: #b2abab;
	margin-top: 1px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 1024px) and (max-width: 2560px) {
  
  /* CSS */
  .headingRating {
    margin-left: 3%;
  }
}

@media (min-width: 320px) and (max-width: 1020px) {
  
  /* CSS */
  .headingRating {
    margin-left: 35%;
  }

  .headingCategory {
    margin-left: 20%
  }

  .headingAuthor {
    margin-left: 20%;
  }
}


